---
version: 2.1
orbs:
  capture-tag: rvla/capture-tag@0.0.2
# executors是可以运行作业的参数化执行环境
executors:
  el7_mysql80:
    docker:
    - image: mydumper/mydumper-builder-el7
      environment:
        MYSQL_HOST: 127.0.0.1
        MYSQL_DB: mate
        MYSQL_ALLOW_EMPTY_PASSWORD: true
    - image: mysql:8.0
      command: mysqld
      environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: true
    working_directory: /tmp/src/mydumper
commands:
   prepare_el_mysql80:
    steps:
    - run: sudo yum install -y libasan gdb screen time mysql-community-libs mysql-community-devel mysql-community-client
   compile_and_test_mydumper:
    parameters:
      test:
        type: boolean
        default: true
    steps:
    - compile
    - store_artifacts:
        # 指定要存储的文件路径
        path: /tmp/stream.sql
        # 定义存储路径的名字，用于在CircleCI控制台或后续流程中引用
        destination: artifact-file
jobs:
  compile_and_test_mydumper_in_el7_mysql80:
    executor: el7_mysql80
    steps:
      - checkout
      - prepare_el_mysql80
      - compile_and_test_mydumper
      # persist_to_workspace是CircleCI提供的命令，用于将当前作业的文件或目录保存到一个共享的工作空间中，使多个作业在同一个工作流中运行是，可以共享文件或数据
      - persist_to_workspace:
        # 指定要保存到目录是/tmp/src/mydumper,. 表示保存当前目录的所有文件和子目录
        root: /tmp/src/mydumper
        paths:
          - .
workflows:
  version: 2
  mydumper:
    jobs:
    - compile_and_test_mydumper_in_el7_mysql80