---
version: 2.1
# executors是可以运行作业的参数化执行环境
executors:
  el7_mysql80:
    docker:
    - image: mydumper/mydumper-builder-el7
      environment:
        MYSQL_HOST: 127.0.0.1
        MYSQL_DB: mate
        MYSQL_ALLOW_EMPTY_PASSWORD: true
    - image: mysql:8.0
      command: mysqld
      environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: true
    working_directory: /tmp/src/mydumper
commands:
  prepare_el_mysql80:
    steps:
    - run: sudo yum install -y libasan gdb screen time mysql-community-libs mysql-community-devel mysql-community-client which
  compile:
    steps:
    - run:
        command: |
          source /etc/profile.d/sh.local || true
    - run: cmake . ""
    - run: make VERBOSE=1
    - run: sudo make install
    - run: ./mydumper --version
  
  compile_and_test_mydumper:
    steps:
    - compile
    - run: bash ./test_mydumper.sh SSL
    - store_artifacts:
        # 指定要存储的文件路径
        path: /tmp/stream.sql
        # 定义存储路径的名字，用于在CircleCI控制台或后续流程中引用
        destination: artifact-file
    - store_artifacts:
        path: /tmp/data/
jobs:
  compile_and_test_mydumper_in_el7_mysql80:
    executor: el7_mysql80
    steps:
      - checkout
      - prepare_el_mysql80
      - compile_and_test_mydumper
      - persist_to_workspace:
          root: /tmp/src/mydumper
          paths:
            - .
workflows:
  version: 2
  mydumper:
    jobs:
    - compile_and_test_mydumper_in_el7_mysql80